footer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    bottom: 0;
    font-size: 12px;
}

.contact {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}