@import '../styles/mixins.scss';

.header {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	text-align: center;
	color: #fff;
	background: #2f2f2f;
	min-height: 120px;
	user-select: none;

	@include md {
		min-height: 210px;
	}
	
	.headerInnerWrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
 	}
	
	.appTitle { 
		margin: 0;
	}

	.logo {
		fill: #e40d55;
		width: 60px;
		height: 60px;
		min-height: 60px;
	}
}