@import '../styles/mixins.scss';

#pswp {
    min-width: calc(100vw - 120px);
    min-height: calc(100vh - 120px);
}

.previewDialog {
    @include md {
        width: calc(100vw - 120px);
        max-height: calc(100vh - 120px);
    }
}

.imgWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    object-fit: contain;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 300px);
    @include md {
        max-width: calc(100vw - 120px);
        max-height: calc(100vh - 240px);
    }
}

.figure {
    margin: 0 auto;
}

.figcaption {
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.actionButtons {
    font-weight: lighter;
    background-color: #eaeaea;
    border: 1px solid gray;
    cursor: pointer;
    padding: 0.2rem;

    &:hover {
        background-color: #dedede;
    }
}

.uploadWrapper {
    display: flex;
    z-index: 100;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    margin-top: 2rem;
}