@import '../styles/mixins.scss';

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 101;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.close {
    font-size: 36px;
    top: 16px;
    right: 16px;
    padding: 0 6px 7px 8px;
    margin: 0;
    color: white;
    z-index: 110;
    position: fixed;
    cursor: pointer;
    user-select: none;
    border: 3px solid white;
    border-radius: 50%;
    line-height: 28px;

    @include md {
        font-size: 48px;
        top: 16px;
        right: 32px;
        padding: 4px 8px 14px 8px;
    }
}