@import '../styles/mixins.scss';

.actions {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2rem 0;
    align-items: center;
    user-select: none;
}

.orderToggle {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: white;
    background: gray;

    &:hover {
        background: #636363;
    }

    span {
        padding-left: 0.5rem;
    }
}

.actionsRight {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.btnClear {
    display: flex;
    align-items: center;
    border-radius: 8px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: white;
    margin-right: 1rem;
    background: gray;
    padding: 11px;

    &:hover {
        background: #8e4545;
    }

    @include md {
        padding: 1rem;
    }
}

.clearSpan {
    display: none;
    
    @include md {
        display: inline-block;
    }
}

.clearIcon {
    width: 28px;
    height: 28px;

    @include md {
        width: 18px;
        height: 18px;
        padding-right: 0.3rem;
    }
}

// .dropdown {
//     position: absolute;
//     opacity: 0;
//     background-color: white;
//     color: black;
//     padding: 1rem 1.5rem;
//     right: 4px;
//     border-radius: 4px;
//     user-select: none;
//     pointer-events: none;
// }

// .open {
//     opacity: 1;
//     z-index: 10;
//     user-select: initial;
//     pointer-events: initial;
// }

// .label {
//     cursor: pointer;
//     padding-bottom: 8px;
//     display: block;
    
//     &:last-child {
//         padding-bottom: 0;
//     }
// }

// .activeLabel {
//     color: blue;
// }