@import './styles/mixins.scss';
@import './styles/base.module.scss';

.appTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;

  @include lg {
    padding: 0 4rem;
  }
}